.model-picker {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}


.submit-button {
  margin: 0;
  width: 100%;
}

.model-table {
  border-collapse: collapse;
  padding-top: 40px;
  width: 100%;
}

.model-price {
  font-weight: 600;
}

.model-item td{
  border-top: solid 1px rgba(0,0,0,0.38);
}

.option-indicator {
  font-style: italic;
}

/*overwrites*/
md-select-value span:first-child{
  visibility: hidden;
}
