<md-content flex layout-padding>

  <md-radio-group ng-model="selectedModel" class="md-primary model-picker">
    <md-radio-button ng-repeat="model in options" ng-value="model">
      {{ model.label }}
  </md-radio-group>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Selected Options</label>
    <md-chips ng-model="selectedOptions" name="selectedOptions">
      <md-chip-template>
        <strong>{{$chip.name}}</strong>
      </md-chip-template>
    </md-chips>
  </md-input-container>

  <md-input-container class="md-block" flex-gt-sm>
    <label>Options</label>
    <md-select ng-model="selectedOptions" multiple>
      <md-option ng-repeat="option in selectedModel.options" ng-value="option">
        {{option.name}}
      </md-option>
    </md-select>
  </md-input-container>

  <div>
    <md-button class="md-raised md-primary submit-button" ng-click="submit()"
               ng-disabled="selectedOptions.length == 0">
      Submit
    </md-button>
    <p>Select at least one (1) option to begin query.</p>
  </div>

  <table class="model-table">
    <tr class="table-header">
      <th>Model Code</th>
      <th>Base Price</th>
      <th>Options</th>
    </tr>
    <tr ng-if="!dataLoaded">
      <td>
        Loading Data...
      </td>
    </tr>
    <tr class="model-item" ng-repeat="result in filteredDatabase" ng-if="dataLoaded">
      <td class="model-id">{{result.id}}</td>
      <td class="model-price">{{result.price | currency}}</td>
      <td>
        <md-list class="options">
          <md-list-item class="md-3-line option-item" ng-repeat="option in result.options">
            <div class="md-list-item-text" layout="column">
              <h3 class="option-name">{{option.name}}</h3>
              <h3 class="option-indicator">{{option.priceIndicator}}</h3>
              <p class="option-code">({{option.code}})</p>
            </div>
            <p class="option-price md-secondary"> {{option.price | currency}}</p>
          </md-list-item>
        </md-list>

      </td>
    </tr>
  </table>

</md-content>
